/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
storage/*.zip
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
storage/framework/views
.vscode/
.idea/
*.bak
.envZone.Identifier
NUL
config/telescope.php
app/Http/Middleware/RestrictTelescope.php
app/Providers/TelescopeServiceProvider.php
adminer.php
.env.testing
